@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
   
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('/Images/nature 5.jpg'); 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}
.form-container{
    display: flex;
    width: 900px;
    height: 600px;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);

}
.form-container .left-side{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background:rgba(255,255,255,0.13);
    backdrop-filter: blur(5px);
    border-radius:27px 0 0 27px ;
}

.left-side form .input-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}
.left-side h1{
    color: #fff;
}
.left-side form .input-box input{
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    padding: 0 15px;
    margin-top: 25px;
    color: #fff;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
   

}
#eye {
    position: absolute;
    right: 10px;
    top: 58%;
    cursor: pointer;
    color: #ccc;
    display: none;
  }
.left-side form .input-box input:focus{
    outline:2px solid #fff;
}
.left-side form label{
    position: absolute;
    color: #fff;
    letter-spacing:1px;
    transition: .2s ease-in-out;

}
.left-side .input-box input:focus ~ label,
.left-side .input-box input:valid ~ label{
  color: #000;
  font-weight: bold;
}
.left-side form .for-pass p{
    position: relative;
    display: flex;
    justify-content: right;
    margin-right: 20px;
    bottom: 15px;  
}
.left-side form .for-pass a{
    text-decoration: none;
    color: #fff;
}
.left-side form .for-pass a:hover{
    color: #000;
}
.left-side form .input-box button{
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

}
.left-side form .input-box button:hover{
    background-color: #000;
    color: #82B74B;
}
.or-login p{
    text-align: center;
    color: #fff;
}
.left-side .social-btn {
    text-align: center;
}
.left-side .social-btn i{
    font-size: 30px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    width: 30px;
    border-radius:10px;
    margin: 5px;
}
.left-side .social-btn i:hover{
    background-color: #000;
    color: #82B74B;
    box-shadow: 0 0 20px #82B74B,
                0 0 40px #82B74B, 
                0 0 60px #ffffff; 
    transition: 0.3s ease-in-out;

}
.left-side .sign-up-link p{
    color: #fff;
    margin-bottom: 25px;
}
.left-side .sign-up-link a{
 text-decoration: none;
 color: #fff;
}
.left-side .sign-up-link a:hover{
    color: #000;
}
/* Right side  */

.form-container .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #fff; 
    border-radius: 0 27px 27px 0;
}

.right-side .logo img {
    width: 150px;
    position: relative;
    top: 40px; 
}

.right-side h2 {
    color: #000; 
    text-align: center;
}

.right-side h2 span {
    color: #82B74B; 
}

.right-side .paragraph p {
    text-align: center;
    color: #000; 
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    bottom: 20px;
}

.right-side .image1 img {
    width: 400px;
    height: auto;
    margin-bottom: 30px;
}


